name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    uses: TorinKS/kse-labs-trusted-workflows/.github/workflows/go-release.yaml@main
    with:
      go-version: '1.21'
      working-directory: ci-cd-security/example-service
      binary-name: example-service
